.group01{
    background-color: aquamarine;
}

.group02{
    background-color: burlywood;

    border: 5px solid rgba(210, 46, 46, 0.804);
    /* border-style: double; */
    /* border-radius: 10px; */
    border-top-style: dotted;
    border-bottom-style: dashed;
}

#background{
    background-image: url(cat.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
